


<table border = 0 width = 100%>
  <tr>
    <td valign=top width = 30%>
	  <h1> Visualize JSON </h1>
	  <%= @error if @error %>	 
      <%= form_tag  do %>	
	  	<%= submit_tag 'graph it!' %><br><br>
		<%= text_area_tag 'body', @body, rows: 20, cols: 50 %>
      <% end %>	  
    </td>
    <td width= 70%>
	  <i>use mouse to pan, scroll weel to zoom, click/hover for details, right click to save</i>
      <div id="visualization" style="width:100%; height:1000px"></div>
    </td>
  </tr>
</table>





<script type="text/javascript">

var options = {
    interaction:{hover:true},
    nodes: {
      font: {
        size: 50
      },	
      shape: 'box',
      margin: 20,
      widthConstraint: {
        minimum: 300
      }
    },
  layout: {
    improvedLayout:true,
    hierarchical: {
      enabled:false,
      levelSeparation: 600,
      nodeSpacing: 200,
      treeSpacing: 200,
      blockShifting: true,
      edgeMinimization: true,
      parentCentralization: true,
      direction: 'LR',        // UD, DU, LR, RL
      sortMethod: 'hubsize'   // hubsize, directed
    }
  }	
};

var nodes = [
<% i = 0 %>
<% @nodes.each do |node| %>
  {
    id: "<%= node['_id'] %>",
    label: "<%= node['_type'] %>",
    title: "<%= node['_fields'].html_safe %>",
    fixed: { y:true, x:true },
	x: <%= node['_level'] * 600 %>	,
	y: <%= -i * 120 %>
  },
  <% i = i + 1 %>
<% end %>
];

var edges = [
<% @links.each do |link| %>
  {
    from: "<%= link[:child] %>",
    to: "<%= link[:parent] %>"
  },
<% end %>
];
  
var container = document.getElementById('visualization');
var data = {
  nodes: nodes,
  edges: edges,
  options: options
};
var network = new vis.Network(container, data, {});

	  
</script>


