
</script>
<table border = 0 width = 100%>
  <tr>
    <td id='rules_window' valign=top >
	  <h1> Visualize Remisol rules </h1>
	  <span style="color:red">
	    <%= truncate( ('Error: ' + @error if @error ) ) %>
	  </span>
      <%= form_tag  do %>	
	  	<%= submit_tag 'graph them!' %>
		<br><br>
		Syntax: <br>
		rulename # (logical conditions) # action1 ; action2 ; action 3		
		<br><br>		
		<%= text_area_tag 'body', @body , rows: 20, cols: 30 %>
      <% end %>	  
	  <%= form_tag '/rules', multipart: true do %>
        <br>
	    <%= file_field_tag :rulesfile %>
        <%= submit_tag 'upload!' %>
      <% end %>
    </td>
    <td >
      <div id="visualization" style="width:100%; height:700px"></div>
    </td>
  </tr>
</table>

<script type="text/javascript">

var options = {
    nodes: {
      font: {
        size: 50
      },	
      shape: 'box',
      margin: 20,
      widthConstraint: {
        minimum: 200,
		maximum: 700
      }
    },
    edges: {
      font: {
        size: 40,
		align: 'middle'
      },
      arrows:'from'	  
    },	
  layout: {
    hierarchical: {
      enabled:true,
      levelSeparation: 1000,
      direction: 'LR',        // UD, DU, LR, RL
    }
  },
  interaction: {
           hover: false,
		   navigationButtons: true,
          keyboard: true
		},
        physics: {
            enabled: true,
            hierarchicalRepulsion: {
              nodeDistance: 200
            }
        },
		/*
        configure: {
          filter: function (option, path) {
            if (path.indexOf('hierarchical') !== -1) {
              return true;
            }
            if (path.indexOf('physics') !== -1) {
              return true;
            }
            if (path.indexOf('smooth') !== -1 || option === 'smooth') {
              return true;
            }			  
            return false;
          },
          showButton: false
        }
		*/
};

var nodes = [
<% levels = {} %>
<% @nodes.each do |node| %>
  {
    id: "<%= node['_id']  %>",
    label: "<%= truncate(node['_label']).html_safe  %>",
    title: "<%= ("<div style='color:red'>"+node['_title']+"</div>").html_safe %>",
    level: "<%= node['_level'] %>",
	color: "<%= node['_color'] %>"
  },
<% end %>
];

var edges = [
<% @links.each do |link| %>
  {
    from: "<%= link[:child] %>",
    to: "<%= link[:parent] %>", 
	label: "<%= link[:label] %>", 
    color:{ color: '#000000'}
  },
<% end %>
];
  
var container = document.getElementById('visualization');
var data = {
  nodes: nodes,
  edges: edges,
  options: options
};
var network = new vis.Network(container, data, {});
	  
</script>


